<div class="soubg">
    <div class="sou">
        <!--Begin 所在收货地区 Begin-->
    	<span class="s_city_b">
        	<span class="fl">送货至：</span>
            <span class="s_city">
            	<span>四川</span>
                <div class="s_city_bg">
                    <div class="s_city_t"></div>
                    <div class="s_city_c">
                        <h2>请选择所在的收货地区</h2>
                        <table border="0" class="c_tab" style="width:235px; margin-top:10px;" cellspacing="0" cellpadding="0">
                            <tr>
                                <th>A</th>
                                <td class="c_h"><span>安徽</span><span>澳门</span></td>
                            </tr>
                            <tr>
                                <th>B</th>
                                <td class="c_h"><span>北京</span></td>
                            </tr>
                            <tr>
                                <th>C</th>
                                <td class="c_h"><span>重庆</span></td>
                            </tr>
                            <tr>
                                <th>F</th>
                                <td class="c_h"><span>福建</span></td>
                            </tr>
                            <tr>
                                <th>G</th>
                                <td class="c_h"><span>广东</span><span>广西</span><span>贵州</span><span>甘肃</span></td>
                            </tr>
                            <tr>
                                <th>H</th>
                                <td class="c_h"><span>河北</span><span>河南</span><span>黑龙江</span><span>海南</span><span>湖北</span><span>湖南</span></td>
                            </tr>
                            <tr>
                                <th>J</th>
                                <td class="c_h"><span>江苏</span><span>吉林</span><span>江西</span></td>
                            </tr>
                            <tr>
                                <th>L</th>
                                <td class="c_h"><span>辽宁</span></td>
                            </tr>
                            <tr>
                                <th>N</th>
                                <td class="c_h"><span>内蒙古</span><span>宁夏</span></td>
                            </tr>
                            <tr>
                                <th>Q</th>
                                <td class="c_h"><span>青海</span></td>
                            </tr>
                            <tr>
                                <th>S</th>
                                <td class="c_h"><span>上海</span><span>山东</span><span>山西</span><span class="c_check">四川</span><span>陕西</span></td>
                            </tr>
                            <tr>
                                <th>T</th>
                                <td class="c_h"><span>台湾</span><span>天津</span></td>
                            </tr>
                            <tr>
                                <th>X</th>
                                <td class="c_h"><span>西藏</span><span>香港</span><span>新疆</span></td>
                            </tr>
                            <tr>
                                <th>Y</th>
                                <td class="c_h"><span>云南</span></td>
                            </tr>
                            <tr>
                                <th>Z</th>
                                <td class="c_h"><span>浙江</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </span>
        </span>
        <!--End 所在收货地区 End-->
        <span class="fr">
            {if condition="$Think.session.userInfo.account eq ''"}
        	<span class="fl">你好，请<a href="{:url('Login/login')}">登录</a>&nbsp; <a href="{:url('Login/register')}" style="color:#ff4e00;">免费注册</a>
        	{else/}
        	欢迎{$Think.session.userInfo.account}登录
        	<a href="{:url('Order/myorder')}">我的订单</a></span>

        	{/if}
        	<span class="ss">
            	<div class="ss_list">
                    <a href="#">收藏夹</a>
                    <div class="ss_list_bg">
                        <div class="s_city_t"></div>
                        <div class="ss_list_c">
                            <ul>
                                <li><a href="#">我的收藏夹</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="ss_list">
                    <a href="{:url('User/user')}">个人中心</a>
                    <div class="ss_list_bg">
                        <div class="s_city_t"></div>
                        <div class="ss_list_c">
                            <ul>
                                <li><a href="{:url('User/user')}">个人中心</a></li>
                                <li><a href="{:url('Login/fade')}">退出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </span>
           <!-- <span class="fl">|&nbsp;关注我们：</span>
            <span class="s_sh"><a href="#" class="sh1">新浪</a><a href="#" class="sh2">微信</a></span>
            <span class="fr">|&nbsp;<a href="#">手机版&nbsp;<img src="__STATIC__/index/images/s_tel.png" align="absmiddle" /></a></span>-->
        </span>
    </div>
</div>
<div class="top">
    <div class="logo"><a href="Index.html"><img src="__STATIC__/index/images/logo.png" /></a></div>
    <div class="search">
        <form>
            <input type="text" value="" class="s_ipt" />
            <input type="submit" value="搜索" class="s_btn" />
        </form>
        <span class="fl"><a href="#">咖啡</a><a href="#">iphone 6S</a><a href="#">新鲜美食</a><a href="#">蛋糕</a><a href="#">日用品</a><a href="#">连衣裙</a></span>
    </div>
    <div class="i_car">
        <div class="car_t"><a href="{:url('car/carlist')}">购物车 [ <span id="topnum"></span> ]</a></div>
        <div class="car_bg">

            <!--Begin 购物车未登录 Begin-->
            <div class="un_login">还未登录！<a href="{:url('login/login')}" style="color:#ff4e00;">马上登录</a> 查看购物车！</div>
            <!--End 购物车未登录 End-->

            <!--Begin 购物车已登录 Begin-->
            {if condition="!empty($cartGoodsInfo)"}
            <div style="height: 200px;overflow-y: auto;">
                <ul class="cars">
                    {volist name="$cartGoodsInfo" id='v'}
                    <li class="aprice">
                        <input type="hidden" class="subtotal" value="{$v.sku_price*$v.buy_number}">
                        <div class="img"><a href="#"><img src="__ROOT__/{$v.sku_img}" width="58" height="58" /></a></div>
                        <div class="name"><a href="#">{$v.sku_name}</a></div>
                        <div class="price"><font color="#ff4e00">￥{$v.sku_price}</font> X{$v.buy_number}</div>
                    </li>
                    {/volist}
                </ul>
            </div>
            {/if}
            <div class="price_sum">共计&nbsp; <font color="#ff4e00">￥</font><span id="total"></span></div>
            <div class="price_a"><a href="{:url('car/carlist')}">去购物车结算</a></div>
            <!--End 购物车已登录 End-->
        </div>
    </div>
</div>
<!--End Header End-->
<!--Begin Menu Begin-->
<div class="menu_bg">
    <div class="menu">
        <!--Begin 商品分类详情 Begin-->
        <div class="nav">
            <div class="nav_t">全部商品分类</div>
            <div class="leftNav" now>
                <ul>
                {volist name="data" id="v"}
                    <li>
                        <div class="fj" f="{$key}">
                            <span class="n_img"><span></span><img src="__STATIC__/index/images/nav1.png" /></span>
                            <span class="fl" f="{$v.cate_name}">{$v.cate_name}</span>
                        </div>
                        <div class="zj">
                            <div class="zj_l">
                                {volist name="$v['son']" id="vv"}
                                <div class="zj_l_c">
                                    <h2>{$vv.cate_name}</h2>
                                    {volist name="$vv['son']" id="vvv"}
                                    <a href="{:url('Product/productList',['cate_id'=>$vvv['cate_id']])}">{$vvv.cate_name}</a>|
                                    {/volist}
                                </div>
                                {/volist}
                            </div>
                            <div class="zj_r">
                                <a href="#"><img src="__STATIC__/index/images/n_img1.jpg" width="236" height="200" /></a>
                                <a href="#"><img src="__STATIC__/index/images/n_img2.jpg" width="236" height="200" /></a>
                            </div>
                        </div>
                    </li>
                {/volist}
                </ul>
            </div>
        </div>
        <!--End 商品分类详情 End-->
        <ul class="menu_r">
            <li><a href="Index.html">首页</a></li>
            {volist name="navData" id="v"}
            <li><a href="GroupBuying.html">{$v.cate_name}</a></li>
            {/volist}
        </ul>
        <div class="m_ad">中秋送好礼！</div>
    </div>
</div>
<!--End Menu End-->
<script>
    $(function(){
        /**改样式*/
        $('.fj').mouseover(function(){
            var f=$(this).attr('f');
            var _index=-(f*40)+'px';
            $(this).next('div').css('top',_index);
        })
        //小购物车的总价
        var total=0;
        var num=$('.aprice').length;
        $('.aprice').each(function(index){
            var subtotal=parseInt($(this).find("input[class='subtotal']").val());
            //console.log(subtotal);
            total+=subtotal;
        });
        $('#total').text(total);//总的价钱
        $('#topnum').text(num);//购买商品种类

    })

</script>