<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>品牌修改</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
    <script src="__STATIC__/layui/jquery-3.2.1.min.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>
</head>
<body>

<form class="layui-form" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">品牌名称</label>
        <div class="layui-input-inline">
            <input name="brand_name" value="{$data.brand_name}" class="layui-input" type="text" lay-verify="brand_name">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">品牌url地址</label>
        <div class="layui-input-inline">
            <input name="brand_url"value="{$data.brand_url}" class="layui-input" type="text" placeholder="如:www.baidu.com" lay-verify="brand_url">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">品牌logo</label>
            <input type="hidden" name="brand_logo"  value="{$data.brand_logo}"  lay-verify="brand_logo">
            <button type="button" class="layui-btn" id="file">
                <i class="layui-icon"></i>上传图片
            </button>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文本域</label>
        <div class="layui-input-block">
            <textarea name="brand_describe" value="{$data.brand_describe}" class="layui-textarea"   lay-verify="brand_describe"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">排序</label>
            <input type="hidden" name="brand_sort"  value="{$data.brand_sort}"  lay-verify="brand_logo">
            <button type="button" class="layui-btn">
                ↑
            </button>
            <button type="button" class="layui-btn">
                ↓
            </button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否展示</label>
        <div class="layui-input-block">
            <input type="checkbox" checked name="cate_show" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF" value="1">
        </div>
    </div>

    <div class="layui-input-block">
        <button class="layui-btn" lay-filter="*" lay-submit="">修改</button>
        <button class="layui-btn layui-btn-primary" type="reset">重置</button>
    </div>
    </div>
</form>
</body>
</html>

<script>
    $(function(){
        //阻止提交
        layui.use(['form','layer','upload'], function(){
            var form = layui.form;
            var layer=layui.layer;
            var upload=layui.upload;
            //js表单验证
            form.verify({
                //验证品牌
                brand_name: function(value, item) {
                    var font;
                    var brand_name_reg = /^\w|[\u4e00-\u9fa5]{3,11}$/;
                    if(value==''){
                        return "品牌名称不能为空";
                    }else if(!brand_name_reg.test(value)){
                        return "品牌名称为中文或英文j";//有点问题
                    }else{
                        $.ajax({
                            url:"{:url('Brand/checkBrandName')}",
                            type:'post',
                            data:{brand_name:value},
                            async:false,//不是异步是同步
                            success:function(msg){
                                //console.log(msg);
                                if(msg=="no"){
                                    font="品牌名已存在";
                                }
                            }
                        });
                        return font;
                    }
                },
                brand_url:function(value,item){
                    //正则表达式
                    var url_reg=/^(((ht|f)tp(s?))\:\/\/)?(www.|[a-zA-Z].)[a-zA-Z0-9\-\.]+\.(com|edu|gov|mil|net|org|biz|info|name|museum|us|ca|uk)$/i;
                    if(value==''){
                        return "网址不能为空";
                    }else if(!url_reg.test(value)){
                        return "请输入正确的网址格式";
                    }
                },
                brand_logo:function(value,item){
                    if(value==''){
                        return "网址标志图必须上传";
                    }
                },
                brand_describe:function(value,item){
                    if(value==''){
                        return "品牌描述必填";
                    }
                }

            });

            //执行实例  文件上传
            var uploadInst =upload.render({
                elem: '#file' //绑定元素
                ,url: "{:url('Brand/brandUpload')}" //上传接口
                ,done: function(res){
                    //console.log(res)
                    layer.msg(res.font,{'icon':res.code});
                    //console.log(res.src)
                    $("input[type='hidden']").val(res.src);
                    //多文件上传
                    /*if(res.code==1){
                     //把出value值取出来 拼接上路径 复制到value中
                     var logo_src=$("input[type='hidden']").val(res.src);
                     logo_src+=res.src+"|";
                     $("input[type='hidden']").val(logo_src)
                     }*/
                }
                ,error: function(){
                    //请求异常回调
                }
            });




            //监听提交  通过ajax提交 不走action提交
            form.on('submit(*)',function(data){
                //console.log(data.elem);//被执行事件的元素dom对象，一般为botton对象
                //console.log(data.form);//被执行提交的form对象，一般在存在form标签时才返回
                //console.log(data.field);//当前容器的全部表单字段,名对值形势

                $.post("{:url('Brand/brandAdd')}",data.field,function(msg){
                            console.log(msg);//ok
                            layer.msg(msg.font,{icon:msg.code});
                            if(msg.code==1){
                                //跳展示页面  可不跳
                                //location.href="{:url('admin/AdminList')}";
                            }
                        },'json'

                )
                return false;//组织表单跳转,如果需要表单跳转，去掉即可
            })
        })
    })
</script>