<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>注册</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />

		<link rel="stylesheet" href="__STATIC__/index/login/amazeui.css" />
		<link href="__STATIC__/index/login/dlstyle.css" rel="stylesheet" type="text/css">

		<script src="__STATIC__/layui/layui.js"></script>


		<script src="__STATIC__/index/login/jquery.min.js"></script>
		<script src="__STATIC__/index/login/amazeui.min.js"></script>

	</head>

	<body>

		<div class="login-boxtitle">
			<a href="home/demo.html"><img alt="" src="__STATIC__/index/login/logobig.png" /></a>
		</div>

		<div class="res-banner">
			<div class="res-main">
				<div class="login-banner-bg"><span></span><img src="__STATIC__/index/login/big.jpg" /></div>
				<div class="login-box">

					<div class="am-tabs" id="doc-my-tabs">
						<ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
							<li class="am-active"><a href="">邮箱注册</a></li>
							<li><a href="">手机号注册</a></li>
						</ul>

						<div class="am-tabs-bd">
							<!--邮箱注册-->
							<div class="am-tab-panel am-active">
						<form method="post" class="layui-form">

						<div class="user-email">
							<label for="email"><i class="am-icon-envelope-o"></i></label>
							<input type="email" name="user_email" id="email" placeholder="请输入邮箱账号" lay-verify="email">
						</div>

						<div class="verification">
							<label for="email_code"><i class="am-icon-code-fork"></i></label>
							<input type="text" name="user_code" id="email_code" placeholder="请输入验证码" lay-verify="required">
							<a class="btn" href="javascript:void(0);" id="sendEmailCode">
								<span class="dyButton" id="span_email">获取</span></a>
						</div>
						<div class="user-pass">
							<label for="email_pwd"><i class="am-icon-lock"></i></label>
							<input type="password" name="user_pwd" id="email_pwd" placeholder="设置密码" lay-verify="checkPwd">
						</div>
						<div class="user-pass">
							<label for="email_pwd1"><i class="am-icon-lock"></i></label>
							<input type="password" name="user_pwd1" id="email_pwd1" placeholder="确认密码" lay-verify="checkPwd1">
						</div>

						<div class="am-cf">
							<input type="submit" name="" value="注册" lay-submit lay-filter="telDemo" class="am-btn am-btn-primary am-btn-sm am-fl">
						</div>

						</form>

						<!--<div class="login-links">-->
							<!--<label for="email_reader-me">-->
								<!--<input id="email_reader-me" type="checkbox"> 点击表示您同意商城《服务协议》-->
							<!--</label>-->
						<!--</div>-->

					</div>
							<!--手机号注册-->
							<div class="am-tab-panel">
							<form class="layui-form" method="post">
							<div class="user-phone">
								<label for="tel"><i class="am-icon-mobile-phone am-icon-md"></i></label>
								<input type="tel" name="user_tel" id="tel" placeholder="请输入手机号"  lay-verify="required">
							</div>
							<div class="verification">
								<label for="tel_code"><i class="am-icon-code-fork"></i></label>
								<input type="tel" name="user_code" id="tel_code" placeholder="请输入验证码" lay-verify="required">
								<a class="btn" href="javascript:void(0);" id="sendTelCode">
								<span class="dyButton" id="span_tel">获取</span></a>
							</div>
							<div class="user-pass">
								<label for="tel_pwd"><i class="am-icon-lock"></i></label>
								<input type="password" name="user_pwd" id="tel_pwd" placeholder="设置密码"  lay-verify="checkPwd">
							</div>
							<div class="user-pass">
								<label for="tel_pwd1"><i class="am-icon-lock"></i></label>
								<input type="password" name="user_pwd1" id="tel_pwd1" placeholder="确认密码"  lay-verify="checkPwd1">
							</div>
								<div class="am-cf">
									<input type="button" value="注册" lay-submit lay-filter="telDemo" class="am-btn am-btn-primary am-btn-sm am-fl">
								</div>

							</form>
							<!--<div class="login-links">-->
								<!--<label for="tel_reader-me">-->
								<!--<input id="tel_reader-me" type="checkbox"> 点击表示您同意商城《服务协议》-->
								<!--</label>-->
							<!--</div>-->

							</div>

						<script>
							<!--切换邮箱 电话-->
								$(function() {
									$('#doc-my-tabs').tabs();
								  })
							</script>

						</div>
					</div>
				</div>
			</div>
			
			<div class="footer ">
					<div class="footer-hd ">
						<p>
							<a href="# ">恒望科技</a>
							<b>|</b>
							<a href="# ">商城首页</a>
							<b>|</b>
							<a href="# ">支付宝</a>
							<b>|</b>
							<a href="# ">物流</a>
						</p>
					</div>
					<div class="footer-bd ">
						<p>
							<a href="# ">关于恒望</a>
							<a href="# ">合作伙伴</a>
							<a href="# ">联系我们</a>
							<a href="# ">网站地图</a>
							<em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
						</p>
					</div>
				</div>
	</body>

</html>

<script>
	$(function(){
		layui.use(['layer','form'],function(){
		var layer=layui.layer;
		var form=layui.form;

		//设置倒计时秒数
		var second=60;
		//设置全局变量  放定时器 方便清除定时器
		var _time;

		//给获取一个点击事件
		$('.btn').click(function(){
			var _this=$(this);
			//获取手机号或邮箱的值
			var _value=_this.parent('div').prev('div').find('input').val();//console.log(_value);
			if(_value==''){
				layer.msg('手机号或邮箱不能为空',{icon:2});
			}else{
				//通过ajax传给PHP页面 验证不为空  11位数字 在数据库里的唯一性
				$.post(
					"{:url('Login/send')}"
					,{value:_value}
					,function(msg){
					//console.log(msg);
						layer.msg(msg.font,{icon:msg.code});
						/*if(msg.code==1){
							//如果发送成功 将获取改为60s
							_this.find('span').text(second+'s');
							_time=setInterval(secondTelTime,1000);
						}*/

					},'json'
				);

				//发送请求后  将获取改为60
				_this.find('span').text(second+'s');
				if(_value.indexOf('@')){
					//邮件描述倒计时
					_time=setInterval(secondEmailTime,1000);
				}else{
					//手机秒数倒计时
					_time=setInterval(secondTelTime,1000);
				}

			}
		});

		//邮箱发送秒数倒计时
		function secondEmailTime(){
			//获取span_email
			var second=parseInt($('#span_email').text());
			if(second==0){
				//秒数为0 字样改为获取 清除定时器 a 可以再次点击
				$('#span_email').text('获取');
				clearInterval(_time);
				$('#span_email').parent('a').css('pointer-events','auto');
			}else{
				//60秒正常递减
				second=second-1;
				$('#span_email').text(second+'s');
				//发送的过程中 点击获取失效
				$('#span_email').parent('a').css('pointer-events','none');

			}
		}

		//手机号发送秒数倒计时
		function secondTelTime(){
			var second=parseInt($('#span_tel').text());
			if(second==0){
				$('#span_tel').text('获取');
				clearInterval(_time);
				//秒数为0 字样改为获取 清除定时器 a 可以再次点击
				$('#span_tel').parent('a').css('pointer-events','auto');
			}else{
				//60秒正常递减
				second=second-1;
				$('#span_tel').text(second+'s');
				//发送的过程中 点击获取失效
				$('#span_tel').parent('a').css('pointer-events','none');

			}
		}

		//验证
		form.verify({
			email:function(value,item){
				var reg=/^[_.0-9a-z-]+@([0-9a-z][0-9a-z-]+.)+[a-z]{2,3}$/;
				if(value==''){
					return '邮箱不能为空';
				}else if(!reg.test(value)){
					return '邮箱格式不正确';
				}
			},
			checkPwd:function(value,item){
				var reg=/^[a-z0-9_]{6,}$/;
				if(value==''){
					return '密码必填';
				}else if(!reg.test(value)){
					return '密码由6位及以上数字字母下划线组成,不以数字开头';
				}
			},
			checkPwd1:function (value,item){
				var tel_pwd=$('#tel_pwd').val();
				var email_pwd=$('#email_pwd').val();
				if(value==''){
					return '确认密码必填';
				}else if(value!=tel_pwd&&value!=email_pwd){
					return '确认密码与密码不一致';
				}
			}
		});

		//监听表单提交
		form.on('submit(telDemo)',function(data){
			//console.log(data.field);//当前容器的全部表单字段,名对值形势
			$.post(
				"{:url('Login/register')}"
				,data.field
				,function(msg){
						//console.log(msg);
						layer.msg(msg.font,{icon:msg.code});
						if(msg.code==1){
							//跳转页面
							location.href="{:url('Login/login')}";
						}
					},'json'
				);
			return false;//组织表单跳转,如果需要表单跳转，去掉即可
		});

		});

	})
</script>