<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理员密码修改</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
    <script src="__STATIC__/layui/jquery-3.2.1.min.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>

</head>
<body>

<form class="layui-form" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">旧密码</label>
        <div class="layui-input-inline">
            <input name="old_pwd" class="layui-input" type="password" autocomplete="off" lay-verify="required">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-inline">
            <input name="admin_pwd" class="layui-input" type="password"  autocomplete="off" lay-verify="required">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-inline">
            <input name="again_pwd" class="layui-input" type="password" autocomplete="off" lay-verify="required">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-filter="*" lay-submit="">修改</button>
            <button class="layui-btn layui-btn-primary" type="reset">重置</button>
        </div>
    </div>
</form>

<script>
    $(function(){
        //阻止提交
        layui.use(['form','layer'], function(){
            var form = layui.form;
            var layer=layui.layer;



            //监听提交  通过ajax提交 不走action提交
            form.on('submit(*)',function(data){
                //console.log(data.elem);//被执行事件的元素dom对象，一般为botton对象
                //console.log(data.form);//被执行提交的form对象，一般在存在form标签时才返回
                //console.log(data.field);//当前容器的全部表单字段,名对值形势

                $.post("{:url('Admin/updatePwd')}",data.field,function(msg){
                            console.log(msg);//ok
                            layer.msg(msg.font,{icon:msg.code,time:4000});
                            if(msg.code==1){
                                //跳到退出页面  可不跳
                                location.href="{:url('Admin/AdminQuit')}";
                            }
                        },'json'

                )
                return false;//组织表单跳转,如果需要表单跳转，去掉即可
            })
        })
    })
</script>


