
<ul class="cate_list">
    {volist name="goodsList" id="v"}
    <li>
        <div class="img">
            <a href="{:url('Product/productDetail',['goods_id'=>$v['sku_id'],'cate_id'=>$v['cate_id']])}">
                <img src="/{$v.sku_img}" width="210" height="185" />
            </a>
        </div>
        <div class="price">
            <font>￥<span>{:number_format($v['sku_price'] , 2 , '.' , ',')}</span></font>
        </div>

        <div class="name">
            <a href="#">{$v.sku_name}</a>
            <span style="margin-left:10px;">销量: <span style="color:#f00">{:formatSale($v['sku_sale_num'])}</span></span>
        </div>
        <div class="carbg">
            <a href="#" class="ss">收藏</a>
            <a href="#" class="j_car">加入购物车</a>
        </div>
    </li>
    {/volist}
</ul>
<div class="pages">
    {$page_str}
</div>

