<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>分类修改</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
    <script src="__STATIC__/layui/jquery-3.2.1.min.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>
</head>
<body>

<form class="layui-form" action="{:url('Category/cateUpdateDo')}" method="post">
    <input type="hidden" name="cate_id" value="{$arr.cate_id}">
    <div class="layui-form-item">
        <label class="layui-form-label">分类名称</label>
        <div class="layui-input-inline">
            <input name="cate_name"  value="{$arr.cate_name}" class="layui-input" type="text" lay-verify="cate_name">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否展示</label>
        <div class="layui-input-block">
            <input type="checkbox"  value="{$arr.cate_show}" checked name="cate_show" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF" value="1">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否在导航栏展示</label>
        <div class="layui-input-block">
            <input type="checkbox" name="cate_navshow"  lay-skin="switch" lay-text="ON|OFF" value="0">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">父类名称</label>
        <div class="layui-input-inline">
            <select name="pid">
                <option value="0">--请选择--</option>
                {volist name="data" id="v"}
                <option value="{$v.cate_id}">{:str_repeat('&nbsp;&nbsp;',$v.level*2)}{$v.cate_name}</option>
                {/volist}
            </select>
        </div>
        <div class="layui-form-item">

            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="*" lay-submit="">修改</button>
                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
            </div>
        </div>
</form>
</body>
</html>

<script>
    $(function(){
        //阻止提交
        layui.use(['form','layer'], function(){
            var form = layui.form;
            var layer=layui.layer;
            //js表单验证
            /*form.verify({
             //验证分类
             cate_name: function(value, item) {
             var font;
             var cate_name_reg = /^[\u4e00-\u9fa5]{3,}$/;
             if(value==''){
             return "分类名称不能为空";
             }else if(!cate_name_reg.test(value)){
             return "分类名称必须为中文";//有点问题
             }else{
             $.ajax({
             url:"{:url('Category/checkCateName')}",
             type:'post',
             data:{cate_name:value},
             async:false,//不是异步是同步
             success:function(msg){
             //console.log(msg);
             if(msg=="no"){
             font="分类名已存在";
             }
             }
             });
             return font;
             }
             }
             });*/


            //监听提交  通过ajax提交 不走action提交
            form.on('submit(*)',function(data){
                //console.log(data.elem);//被执行事件的元素dom对象，一般为botton对象
                //console.log(data.form);//被执行提交的form对象，一般在存在form标签时才返回
                //console.log(data.field);//当前容器的全部表单字段,名对值形势

                $.post("{:url('Category/cateUpdateDo')}",data.field,function(msg){
                            console.log(msg);//ok
                            layer.msg(msg.font,{icon:msg.code});
                            if(msg.code==1){
                                //跳展示页面  可不跳
                                //location.href="{:url('admin/AdminList')}";
                            }
                        },'json'

                )
                return true;//组织表单跳转,如果需要表单跳转，去掉即可
            })
        })
    })
</script>