{layout name="layout/layout2"/}

		<div class="m_right">
            <p></p>
            <div class="mem_tit">
            	<a href="#"><img src="__STATIC__/index/images/add_ad.gif" /></a>
            </div>

                <table border="0" class="add_tab" style="width:930px;"  cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="135" align="right">配送地区</td>
                        <td colspan="3" style="font-family:'宋体';">
                            <select class="cc" id="province">
                                <option value="">请选择</option>
                                {volist name="provinceData" id="v"}
                                <option value="{$v.id}">{$v.region_name}</option>
                                {/volist}
                            </select>
                            <select class="cc" id="city">
                                <option value="">请选择</option>
                                <option value=""></option>
                            </select>
                            <select class="cc" id="district">
                                <option value="" selected="selected">请选择</option>
                                <option value=""></option>
                            </select>
                            （必填）
                        </td>
                    </tr>
                    <tr>
                        <td align="right">收货人姓名</td>
                        <td style="font-family:'宋体';">
                            <div class="layui-input-inline">
                                <input type="text" placeholder="姓名" class="add_ipt" id="address_man" />（必填）
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">电话</td>
                        <td style="font-family:'宋体';">
                            <div class="layui-input-inline">
                                <input type="text" placeholder="1361234587" class="add_ipt" id="address_tel"/>（必填）
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">详细地址</td>
                        <td style="font-family:'宋体';">
                            <div class="layui-input-inline">
                                <textarea name="" id="address_detail" cols="75" rows="5"></textarea>（必填）
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left">
                            <div class="layui-input-inline">
                                <input type="checkbox" name="address_default" id="address_default">是否设置为默认收货地址
                            </div>
                        </td>
                    </tr>
                </table>

           	<p align="right">
            	<a href="#">删除</a>&nbsp; &nbsp;
            	<a href="#" class="add_b">添加</a>
            </p>


            <div class="mem_tit">收货地址</div>
            {volist name="addressInfo" id="v"}
            <input type="hidden" value="{$v.address_id}" class="num">
                {if condition="$v.address_default eq 1"}
                    <div class="address" style="border: 1px solid #f00;">
                <div class="a_close"><a href="#" class="del" address_id="{$v.address_id}"><img src="__STATIC__/index/images/a_close.png" /></a></div>
                <table border="0" class="add_t" align="center" style="width:98%; margin:10px auto;" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="right" width="80">收货人姓名：</td>
                        <td>{$v.address_man}</td>
                    </tr>
                    <tr>
                        <td align="right">配送区域：</td>
                        <td>{$v.province}{$v.city}{$v.district}</td>
                    </tr>
                    <tr>
                        <td align="right">详细地址：</td>
                        <td>{$v.address_detail}</td>
                    </tr>
                    <tr>
                        <td align="right">电话：</td>
                        <td>{$v.address_tel}</td>
                    </tr>
                </table>
                <p align="right">
                     <a href="{:url('UserAddress/addressUpdate')}?address_id={$v.address_id}" style="color:#ff4e00;">编辑</a>&nbsp; &nbsp; &nbsp; &nbsp;
                </p>
            </div>
                {else/}
                    <div class="address">
                <div class="a_close"><a href="#"  class="del"  address_id="{$v.address_id}"><img src="__STATIC__/index/images/a_close.png" /></a></div>
                <table border="0" class="add_t" align="center" style="width:98%; margin:10px auto;" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="right" width="80">收货人姓名：</td>
                        <td>{$v.address_man}</td>
                    </tr>
                    <tr>
                        <td align="right">配送区域：</td>
                        <td>{$v.province}{$v.city}{$v.district}</td>
                    </tr>
                    <tr>
                        <td align="right">详细地址：</td>
                        <td>{$v.address_detail}</td>
                    </tr>
                    <tr>
                        <td align="right">电话：</td>
                        <td>{$v.address_tel}</td>
                    </tr>
                </table>
                <p align="right">
                    <a href="javascript:;" address_id="{$v.address_id}" class="setDefault" style="color:#ff4e00;">设为默认</a>&nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="{:url('UserAddress/addressUpdate')}?address_id={$v.address_id}" style="color:#ff4e00;">编辑</a>&nbsp; &nbsp; &nbsp; &nbsp;
                </p>
            </div>
                {/if}
            {/volist}
        </div>

<script href="__STATIC__/index/js/jquery-3.2.1.min.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script>
    $(function(){
        layui.use('layer',function(){
            var layer=layui.layer;

            //三级联动
            //alert(34567);
            $('.cc').change(function(){
                var _this=$(this);
                //把当前对象的所有下兄弟节点内容都清掉 换成请选择
                _this.nextAll('select').html("<option>--请选择--</option>");
                var id=_this.val();//console.log(id);
                //通过ajax把id传给控制器
                $.post("{:url('UserAddress/change')}",{id:id},function(msg){
                    //console.log(msg);
                        var _option="<option>--请选择--</option>";
                        for(var i in msg){
                            _option+="<option value='"+msg[i]['id']+"'>"+msg[i]['region_name']+"</option>";
                        }
                        //console.log(_option);
                        //将这个对象的下兄弟节点赋值//回调函数里不能用$(this) 在上面改成_this
                        _this.next('select').html(_option);
                })
            })

            /**ajax添加*/
            $('.add_b').click(function(){
                //得到各项值
                var province=$('#province').val();
                var city=$('#city').val();
                var district=$('#district').val();
                var address_man=$('#address_man').val();
                var address_tel=$('#address_tel').val();
                var address_detail=$('#address_detail').val();
                var address_default=$('#address_default').prop('checked');
                //alert(address_default);
                //验证各项值非空
                if(province==''||city==''||district==''){
                   //return  alert( '省、市、区必选');  不加layui的
                    layer.msg('省、市、区必选',{icon:2});//,{icon:2}提示样式好看些
                    return false;
                }
                if(address_man==''){
                    layer.msg('收货人必填',{icon:2});
                    return false;
                }
                if(address_tel==''){
                    layer.msg('电话必填',{icon:2});
                    return false;
                }
                if(address_detail==''){
                    layer.msg('详细地址必填',{icon:2});
                    return false;
                }
                //是否默认收货地址
                if(address_default==true){
                    address_default=1;
                }else{
                    address_default=0;
                }

                //将数据通过ajax 提交给控制器  进行添加
                $.post(
                    "{:url('UserAddress/address')}",
                     {province:province,city:city,district:district,address_man:address_man,address_tel:address_tel,address_detail:address_detail,address_default:address_default},
                     function(msg){
                        console.log(msg);
                        layer.msg(msg.font,{icon:msg.code})
                        if(msg.code==1){
                            location.href="{:url('UserAddress/address')}";
                        }
                     },'json'
                )
                return false;
            })

            /**点击 设为默认*/
            //点的那条数据address_default 变为1， user_id相同的情况下 其余的改为0
            //得到这条数据的id 给个自定义id 给class名 好点击
            $('.setDefault').click(function(){
                var _this=$(this);
                var address_id=_this.attr('address_id');
                //console.log(address_id);
                $.post(
                        "{:url('UserAddress/setDefaultAddress')}",
                        {address_id:address_id},
                        function(msg){
                            //console.log(msg);
                            layer.msg(msg.font,{icon:msg.code});
                            if(msg.code==1){
                                location.href="{:url('UserAddress/address')}";
                            }
                        },'json'
                    );
            })

            /**删除 点击 ×*/
            $('.del').click(function(){
                //得到id
                var address_id=$(this).attr('address_id');//alert(address_id);
                //var address_id=$('.num').val();//alert(address_id);
                //layer.confirm('确定要删除吗?');
                layer.confirm('确定要删除吗?', {
                    btn: ['确定', '取消'] //可以无限个按钮
                }, function(index, layero){
                    //确定的
                    //alert(34);
                    $.post("{:url('UserAddress/addressDel')}",{address_id:address_id},function(msg){
                        layer.msg(msg.font,{icon:msg.code})
                        if(msg.code==1){
                            location.href="{:url('UserAddress/address')}";
                        }
                    },'json')
                });
            })

        })

    })
</script>

















