<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>

    <script src="__STATIC__/layui/jquery-3.2.1.min.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>
</head>
<body>
<form class="layui-form">
    <div style=" margin-left:30px;">
        <div class="layui-form-item">
            <label class="layui-form-label"><spen style="font-size:16px">角色名称</spen></label>
            <div class="layui-input-inline">
                <input type="text" name="role_name" required  lay-verify="required" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否展示</label>
            <div class="layui-input-block">
                <input name="status" value="1" title="是" checked="" type="radio">
                <input name="status" value="2" title="否" type="radio">
            </div>
        </div>
        系统权限
        <hr>
        <div style="margin-left: 4%">
            {volist name='AllMenu' id='v'}
            <div class="layui-form-item"pane="">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                         <input type="checkbox" class="parent" value="{$v.node_id}" name="power[]" lay-skin="primary" title="{$v.node_name}">
                    </label><br/><br><br/><br>

                    <div class="layui-input-block">
                        {volist name='$v.son' id='vv'}
                        <input type="checkbox" lay-filter="two" value="{$vv.node_id}" name="power[]" lay-skin="primary" title="{$vv.node_name}">
                        {/volist}
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

</body>
</html>
<script>
    $(function(){
        layui.use(['form','layer'],function(){
            var layer=layui.layer;
            var form=layui.form;

            //一级
            $('.parent').click(function () {
                if($(this).prop('checked') == true){
                    $(this).prop('checked',false);
                    $(this).parents('.layui-form-item').
                    children('.layui-input-block').find('input').prop('checked',false);
                }else{
                    $(this).prop('checked',true);
                    $(this).parents('.layui-form-item').
                    children('.layui-input-block').find('input').prop('checked',true);
                }
                form.render();
            });

            //二级菜单添加点击事件
            form.on('checkbox(two)',function(data){
                var mark = 0;
                data.othis.parent('.layui-input-block').find('input').each(function(){
                    if($(this).prop('checked') == true){
                        mark = 1;
                    }
                });
                if(data.elem.checked == true){
                    data.elem.checked =  true;
                    data.othis.parents('.layui-form-item').
                    find('.layui-form-label').find('input').prop('checked',true);
                }else{
                    data.elem.checked =  false;
                    if( mark != 1){
                        data.othis.parents('.layui-form-item').
                        find('.layui-form-label').find('input').prop('checked',false);
                    }
                }
                form.render();
            });
            //监听提交
            form.on('submit(submit)',function(data){
                $.ajax({
                    url:"{:url('Role/roleListadd')}",
                    data:data.field,
                    type:'post',
                    dataType:'json',
                    success:function(json_info){
                        if(json_info.status == 100){
                            alert(1);
                        }else{
                            alert(json_info.msg);
                        }
                    }
                });
                return false;
            })

        })
    })
</script>
