<form class="layui-form">
    {volist name="basic" id="v"}
    <div class="layui-form-item">
        <label class="layui-form-label">{$v.attr_name}</label>
        <div class="layui-input-inline">
            {if condition="$v.has_son eq 1"}
            <select name="basic[{$v.attr_id}]" lay-verify="required">
                <option value="">--请选择--</option>
                {volist name="$v.son" id="vv"}
                <option value="{$vv}">{$vv}</option>
                {/volist}
            </select>
            {else/}
            <input type="text" name="basic[{$v.attr_id}]" class="layui-input"  lay-verify="required" placeholder="请输入属性值">
            {/if}
        </div>
    </div>
    {/volist}
</form>

